body {
    background-color: #33cc33;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.searchBar {
    background-color: #adebad;
    width: clamp(120px, 15%, 600px);
    display: flex;
    border-radius: 5px;
}

.homeButton {
    color: #0f3d0f;
    text-decoration: none;
    font-size: clamp(5px, 8vw, 80px);
    text-align: center;
}


.homeButton:hover {
    color: purple;
    text-decoration: none;
}

.currentDate {
    text-align: center;
    font-size: clamp(2px, 4vw, 30px);
}

@media screen and (max-width: 600px) {
    .searchBar {
        width: 100%; /* Make search bar full width on small screens */
    }
}

.links {
    display: flex;
    font-size: 50px;
    justify-content: space-around;
}
