body {
    background-color: #33cc33;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 40px 0px;
}

.searchBar {
    background-color: #adebad;
    width: 19vw;
    min-width: 350px;
    height: clamp(8px, 5vw, 40px);
    border-radius: 12px;
    font-size: clamp(2px, 5vw, 23px);
}

.homeButton {
    color: #0f3d0f;
    text-decoration: none;
    font-size: clamp(5px, 13vw, 80px);
    text-align: center;
    margin: 0;
    padding: 0;
}


.homeButton:hover {
    color: purple;
    text-decoration: none;
}

.currentDate {
    text-align: center;
    font-size: clamp(2px, 4vw, 30px);
}

@media screen and (max-width: 600px) {
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    font-size: clamp(26px, 4vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}



